body {
    background-color: #f3dc52;
}

.ribbon {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
}

.example {
    margin: 30px auto;
    max-width: 500px;
}

.editable {
    background-color: #dedede;
    padding: 20px;
    outline: 0;
}

.ui {
    background-color: #555;
    color: #fcc;
}

.ui[disabled] {
    background-color: #999;
    pointer-events: none;
}

.ui-state {
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ui-state:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.ui-enabled {
    background-color: #444;
    color: #dedede;
}
