doctype html
html
    head
        title Pony Edit &middot; Interface-less web content editing library

        link(rel='stylesheet', href='/css/ponyedit.min.css')
        link(rel='stylesheet', href='/css/example.min.css')

    body
        a(href='https://github.com/bevacqua/ponyedit')
            img.ribbon(src='https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt='')

        section.example(ng-app='example')
            div
                p Try ponyedit! (Angular Way)

            div.ui(ng-controller='exampleCtrl', ng-disabled='!state.active')
                span.ui-state.ui-bold(ng-click='setBold()', ng-class='{true:"ui-enabled"}[state.bold]') Bold
                span.ui-state.ui-italic(ng-click='setItalic()', ng-class='{true:"ui-enabled"}[state.italic]') Italic
                span.ui-state.ui-size-up(ng-click='increaseSize()') +
                span.ui-state.ui-size-down(ng-click='decreaseSize()') -

            article.editable(ponyeditable='foo')
                :markdown
                    Edit my **things**! and maybe some of _your things_...

                    The <font size='5'>status bar</font> above represents **state**.

                    You can click on stuff when something is selected, _and edit **things**_.

        script(src='/js/angular.min.js')
        script(src='/js/eventemitter2.min.js')
        script(src='/js/ponyedit.min.js')
        script(src='/js/example.angular.min.js')
