doctype html
html
    head
        title Pony Edit &middot; Interface-less web content editing library

        link(rel='stylesheet', href='/css/ponyedit.min.css')
        link(rel='stylesheet', href='/css/example.min.css')
    body
        article.editable Edit my things!

        script(src='/js/eventemitter2.min.js')
        script(src='/js/ponyedit.min.js')
        script(src='/js/example.min.js')
